html, body {
  background-color: #0b0505;
  color: #b9b4b3;
  margin: 0;
  height: 100%;
  align-items: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.mainblock {
  text-align: center;
  display: inline-block;
  width: 100%;
}

content {
  background-color: #1c1a1a;
  padding: 1rem;
  display: inline-block;
  width: calc(100% - 2 * 1rem);
}

.code {
  font-family: 'Consolas', monospace;
}

h2, h1 {
  color: rgb(150, 107, 107);
  margin: 0;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 300;
}

h2 {
  font-size: 1.5rem;
}

a {
  color: #87b6eb;
}

a:visited {
  color: #c175df;
}

.new-date {
  color: #6b6564;
  border-right: 1px solid #6b6564;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  font-size: 0.9rem;
}

.placeholder {
  height: 4rem;
  width: 4rem;
}

footer {
  padding: 1rem 3rem;
  background-color: #0b0505;
}

#sandbox {
  display: inline-block;
  background-color: #0b0505;
  border: 1px solid #554e4c;
  width: 100%;
  max-height: 100vw;
  height: 80vh;
  margin: 1rem -2rem;
  box-sizing: border-box;
}

.colortouch {
  background-color: #F0F8;
  width: .5rem;
  border: 1px solid #F0F;
  border-right: none;
  border-radius: .2rem 0 0 .2rem;
}

#dialog {
  font-size: 1.2rem;
  text-align: left;
  border-top: 1px solid #6b6564;
  border-bottom: 1px solid #6b6564;
  padding: .3rem;
  box-sizing: border-box;
  background-color: #0b0505;
}

a.retry-button {
  padding: .3rem;
  border-radius: 0 .2rem .2rem 0;
  border: 1px solid #87b6eb;
  color: #87b6eb;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  height: 100%;
  box-sizing: border-box;
}

a.retry-button:hover {
  background-color: #FFF2;
}

a.retry-button:focus, a.retry-button:active {
  box-shadow: 0 0 0 .2rem #87b6eb80;
}

.d-flex {
  display: flex;
}